/*for mobile phones*/
@media only screen and (min-width: 300px) and (max-width: 640px) {
    body {
      background-color: rgb(253, 142, 166);
      font-size: 25px;
    }
    .small {
        padding:20px;
        border-radius: 4px;
        background-color: aliceblue;
    }
    .medium {
        display: none;
    }
    .large {
        
        display: none;
    }
}
    /* for tablet */
@media only screen and (min-width: 641px) and (max-width: 768px) {

    body {
    font-size : 17px;
      background-color: rgb(92, 70, 0);
    }

    .medium {
        padding:20px;
        background-color: aliceblue;
        border-radius: 4px;
    }
    .small {
        display: none;
    }
    .large {
        display: none;
    }
  }
/*for pc*/
@media only screen and (min-width: 769px) and (max-width: 1920px) {
body {
    background-color: rgb(0, 99, 49);
    font-size: 15px;
}

.large {
    padding:20px;
    background-color: aliceblue;
    border-radius: 4px;
}
.small {
    display: none;
}
.medium {
    display: none;
}
}
